@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Oleo+Script+Swash+Caps&display=swap');

html{
    background-color:hsla(193, 91%, 43%, 0.883);
}
.App{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:hsla(193, 91%, 43%, 0.883);
    font-family:"Neucha", cursive;
}

.heading{
    text-transform:uppercase;
    font-size:40px;
    margin:30px 0;
    color:white;
    z-index:1;
    text-align:center;
}
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
      border-radius:20px;
      background-color:hsla(193, 91%, 43%, 0.883);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius:20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }



@media(max-width:800px){
    .heading{
      margin:15px 0;
      font-size:35px;
  }
}
   
